* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6em;
}

#images {
    text-align: center;
    width: 800px;
    height: auto;
    overflow: hidden;
}

#images ul {
    list-style-type: none;
    width: 4000px;
    padding: 0;
}

#images ul li {
    float: left;
    width: 800px;
    height: 450px;
}

#images img {
    width: 75%;
}


/*
    ===========
    BUTTONS
    ===========
*/

.buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 450px;
    padding: 0 20px;
}

.buttons a {
    text-decoration: none;
}

.buttons i {
    background-color: #ccc;
    font-size: 1.5em;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
}